<a href="https://colab.research.google.com/github/Chang365/ESAA-25-1-assignments/blob/main/ESAA_OB_%EB%B0%A9%ED%95%99_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_2%EC%B0%A8%ED%9A%8C%EC%9D%98_%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA

In [ ]:
import pandas as pd

train = pd.read_csv("/content/train_df.csv")
test = pd.read_csv("/content/test_df.csv")

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129534 entries, 0 to 129533
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   msno                    129534 non-null  object
 1   song_id                 129534 non-null  object
 2   source_system_tab       129173 non-null  object
 3   source_screen_name      123827 non-null  object
 4   source_type             129286 non-null  object
 5   target                  129533 non-null  float64
 6   song_length             129529 non-null  float64
 7   genre_ids               127658 non-null  object
 8   artist_name             129529 non-null  object
 9   composer                101982 non-null  object
 10  lyricist                76849 non-null   object
 11  language                129529 non-null  float64
 12  name                    129520 non-null  object
 13  isrc                    118686 non-null  object
 14  city                    129533 non-null  float64
 15  bd                      129533 non-null  float64
 16  gender                  78522 non-null   object
 17  registered_via          129533 non-null  float64
 18  registration_init_time  129533 non-null  float64
 19  expiration_date         129533 non-null  float64
dtypes: float64(8), object(12)
memory usage: 19.8+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138041 entries, 0 to 138040
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      138041 non-null  int64
 1   msno                    138041 non-null  object
 2   song_id                 138041 non-null  object
 3   source_system_tab       137580 non-null  object
 4   source_screen_name      129994 non-null  object
 5   source_type             137600 non-null  object
 6   song_length             138039 non-null  float64
 7   genre_ids               136218 non-null  object
 8   artist_name             138039 non-null  object
 9   composer                105921 non-null  object
 10  lyricist                76134 non-null   object
 11  language                138036 non-null  float64
 12  name                    138000 non-null  object
 13  isrc                    127229 non-null  object
 14  city                    138040 non-null  float64
 15  bd                      138040 non-null  float64
 16  gender                  81564 non-null   object
 17  registered_via          138040 non-null  float64
 18  registration_init_time  138040 non-null  float64
 19  expiration_date         138040 non-null  float64
dtypes: float64(7), int64(1), object(12)
memory usage: 21.1+ MB

In [ ]:
missing = pd.DataFrame({
    "dtype": train.dtypes,
    "non_null": train.notnull().sum(),
    "missing_cnt": train.isnull().sum(),
    "missing_rate": train.isnull().mean()
}).sort_values("missing_rate", ascending=False)

missing

                          dtype  non_null  missing_cnt  missing_rate
lyricist                 object     76849        52685      0.406727
gender                   object     78522        51012      0.393812
composer                 object    101982        27552      0.212701
isrc                     object    118686        10848      0.083746
source_screen_name       object    123827         5707      0.044058
genre_ids                object    127658         1876      0.014483
source_system_tab        object    129173          361      0.002787
source_type              object    129286          248      0.001915
name                     object    129520           14      0.000108
language                float64    129529            5      0.000039
song_length             float64    129529            5      0.000039
artist_name              object    129529            5      0.000039
bd                      float64    129533            1      0.000008
registered_via          float64    129533            1      0.000008
target                  float64    129533            1      0.000008
city                    float64    129533            1      0.000008
registration_init_time  float64    129533            1      0.000008
expiration_date         float64    129533            1      0.000008
msno                     object    129534            0      0.000000
song_id                  object    129534            0      0.000000

In [ ]:
missing = pd.DataFrame({
    "dtype": test.dtypes,
    "non_null": test.notnull().sum(),
    "missing_cnt": test.isnull().sum(),
    "missing_rate": test.isnull().mean()
}).sort_values("missing_rate", ascending=False)

missing

                          dtype  non_null  missing_cnt  missing_rate
lyricist                 object     76134        61907      0.448468
gender                   object     81564        56477      0.409132
composer                 object    105921        32120      0.232684
isrc                     object    127229        10812      0.078325
source_screen_name       object    129994         8047      0.058294
genre_ids                object    136218         1823      0.013206
source_system_tab        object    137580          461      0.003340
source_type              object    137600          441      0.003195
name                     object    138000           41      0.000297
language                float64    138036            5      0.000036
artist_name              object    138039            2      0.000014
song_length             float64    138039            2      0.000014
bd                      float64    138040            1      0.000007
registered_via          float64    138040            1      0.000007
registration_init_time  float64    138040            1      0.000007
city                    float64    138040            1      0.000007
expiration_date         float64    138040            1      0.000007
song_id                  object    138041            0      0.000000
id                        int64    138041            0      0.000000
msno                     object    138041            0      0.000000

# 전처리

### lyricist & composer: drop

In [ ]:
DROP_COLS = ["lyricist", "composer"]
train.drop(columns=DROP_COLS, inplace=True)
test.drop(columns=DROP_COLS, inplace=True)

### 범주형 결측치 -> unknown으로 대체

총 8개

- gender

- source_screen_name

- source_system_tab

- source_type

- genre_ids

- artist_name

- name

- isrc

In [ ]:
cat_fill_cols = [
    "gender",
    "source_screen_name",
    "source_system_tab",
    "source_type",
    "genre_ids",
    "artist_name",
    "name",
    "isrc"
]

for c in cat_fill_cols:
    train[c] = train[c].fillna("unknown")
    test[c] = test[c].fillna("unknown")

### 수치형 결측치는 "값+결측여부"로

In [ ]:
# age

import numpy as np

train = train.rename(columns={"bd": "age"})
train["age"] = pd.to_numeric(train["age"], errors="coerce")
train.loc[(train["age"] < 0) | (train["age"] > 100), "age"] = np.nan
train["age_missing"] = train["age"].isna().astype("int8")

test = test.rename(columns={"bd": "age"})
test["age"] = pd.to_numeric(test["age"], errors="coerce")
test.loc[(test["age"] < 0) | (test["age"] > 100), "age"] = np.nan
test["age_missing"] = test["age"].isna().astype("int8")

In [ ]:
# song_length

train["song_length_missing"] = train["song_length"].isna().astype("int8")
train["song_length"] = train["song_length"].fillna(train["song_length"].median())

test["song_length_missing"] = test["song_length"].isna().astype("int8")
test["song_length"] = test["song_length"].fillna(test["song_length"].median())

### 날짜 컬럼 전처리 (문자 → 시간 정보)

- 20170115는 모델 입장에서 의미 없는 큰 숫자

- 우리는 “언제 가입했고, 얼마나 활동했는지”가 필요

In [ ]:
import pandas as pd

reg = pd.to_datetime(
    train["registration_init_time"].astype("Int64").astype(str),
    format="%Y%m%d",
    errors="coerce"
)

exp = pd.to_datetime(
    train["expiration_date"].astype("Int64").astype(str),
    format="%Y%m%d",
    errors="coerce"
)

train["reg_year"] = reg.dt.year.astype("Int16")
train["reg_month"] = reg.dt.month.astype("Int8")

train["exp_year"] = exp.dt.year.astype("Int16")
train["exp_month"] = exp.dt.month.astype("Int8")

train["days_active"] = (exp - reg).dt.days
train["days_active_missing"] = train["days_active"].isna().astype("int8")

In [ ]:
import pandas as pd

reg = pd.to_datetime(
    test["registration_init_time"].astype("Int64").astype(str),
    format="%Y%m%d",
    errors="coerce"
)

exp = pd.to_datetime(
    test["expiration_date"].astype("Int64").astype(str),
    format="%Y%m%d",
    errors="coerce"
)

test["reg_year"] = reg.dt.year.astype("Int16")
test["reg_month"] = reg.dt.month.astype("Int8")

test["exp_year"] = exp.dt.year.astype("Int16")
test["exp_month"] = exp.dt.month.astype("Int8")

test["days_active"] = (exp - reg).dt.days
test["days_active_missing"] = test["days_active"].isna().astype("int8")

###  genre_ids 전처리 (복잡한 문자열 요약)

In [ ]:
g = train["genre_ids"].astype(str)

train["genre_first"] = g.str.split("|").str[0]
train["genre_cnt"] = g.str.count(r"\|") + 1
train["genre_cnt"] = train["genre_cnt"].astype("int8")

In [ ]:
g = test["genre_ids"].astype(str)

test["genre_first"] = g.str.split("|").str[0]
test["genre_cnt"] = g.str.count(r"\|") + 1
test["genre_cnt"] = test["genre_cnt"].astype("int8")

### isrc 전처리 (문자열 → 정보 추출)

In [ ]:
s = train["isrc"].astype(str)

train["isrc_country"] = s.str[:2]
train["isrc_year"] = pd.to_numeric(s.str[5:7], errors="coerce")
train = train.drop(columns=["isrc"])

In [ ]:
s = test["isrc"].astype(str)

test["isrc_country"] = s.str[:2]
test["isrc_year"] = pd.to_numeric(s.str[5:7], errors="coerce")
test = test.drop(columns=["isrc"])

### dtype 정리 (메모리 + 모델 안정성)

In [ ]:
# object → category
obj_cols = train.select_dtypes(include="object").columns
for c in obj_cols:
    train[c] = train[c].astype("category")

# float64 → float32
float_cols = train.select_dtypes(include="float64").columns
for c in float_cols:
    train[c] = train[c].astype("float32")

In [ ]:
# object → category
obj_cols = test.select_dtypes(include="object").columns
for c in obj_cols:
    test[c] = test[c].astype("category")

# float64 → float32
float_cols = test.select_dtypes(include="float64").columns
for c in float_cols:
    test[c] = test[c].astype("float32")

## 지금상태

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129534 entries, 0 to 129533
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   msno                    129534 non-null  category
 1   song_id                 129534 non-null  category
 2   source_system_tab       129534 non-null  category
 3   source_screen_name      129534 non-null  category
 4   source_type             129534 non-null  category
 5   target                  129533 non-null  float32
 6   song_length             129534 non-null  float32
 7   genre_ids               129534 non-null  category
 8   artist_name             129534 non-null  category
 9   language                129529 non-null  float32
 10  name                    129534 non-null  category
 11  city                    129533 non-null  float32
 12  age                     129341 non-null  float32
 13  gender                  129534 non-null  category
 14  registered_via          129533 non-null  float32
 15  registration_init_time  129533 non-null  float32
 16  expiration_date         129533 non-null  float32
 17  age_missing             129534 non-null  int8
 18  song_length_missing     129534 non-null  int8
 19  reg_year                129533 non-null  Int16
 20  reg_month               129533 non-null  Int8
 21  exp_year                129533 non-null  Int16
 22  exp_month               129533 non-null  Int8
 23  days_active             129533 non-null  float32
 24  days_active_missing     129534 non-null  int8
 25  genre_first             129534 non-null  category
 26  genre_cnt               129534 non-null  int8
 27  isrc_country            129534 non-null  category
 28  isrc_year               118686 non-null  float32
dtypes: Int16(2), Int8(2), category(11), float32(10), int8(4)
memory usage: 12.0 MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138041 entries, 0 to 138040
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      138041 non-null  int64
 1   msno                    138041 non-null  category
 2   song_id                 138041 non-null  category
 3   source_system_tab       138041 non-null  category
 4   source_screen_name      138041 non-null  category
 5   source_type             138041 non-null  category
 6   song_length             138041 non-null  float32
 7   genre_ids               138041 non-null  category
 8   artist_name             138041 non-null  category
 9   language                138036 non-null  float32
 10  name                    138041 non-null  category
 11  city                    138040 non-null  float32
 12  age                     137981 non-null  float32
 13  gender                  138041 non-null  category
 14  registered_via          138040 non-null  float32
 15  registration_init_time  138040 non-null  float32
 16  expiration_date         138040 non-null  float32
 17  age_missing             138041 non-null  int8
 18  song_length_missing     138041 non-null  int8
 19  reg_year                138040 non-null  Int16
 20  reg_month               138040 non-null  Int8
 21  exp_year                138040 non-null  Int16
 22  exp_month               138040 non-null  Int8
 23  days_active             138040 non-null  float32
 24  days_active_missing     138041 non-null  int8
 25  genre_first             138041 non-null  category
 26  genre_cnt               138041 non-null  int8
 27  isrc_country            138041 non-null  category
 28  isrc_year               127229 non-null  float32
dtypes: Int16(2), Int8(2), category(11), float32(9), int64(1), int8(4)
memory usage: 13.2 MB

In [ ]:
# 타켓 분포 확인
train["target"].value_counts(normalize=True)

target
1.0    0.751901
0.0    0.248099
Name: proportion, dtype: float64

In [ ]:
#파생변수 sanity check
train[["age", "age_missing"]].head()
train[["days_active", "days_active_missing"]].head()
train[["genre_first", "genre_cnt"]].head()
train[["isrc_country", "isrc_year"]].head()

  isrc_country  isrc_year
0           GB       16.0
1           US       99.0
2           US        6.0
3           GB       10.0
4           QM       16.0

In [ ]:
#파생변수 sanity check
test[["age", "age_missing"]].head()
test[["days_active", "days_active_missing"]].head()
test[["genre_first", "genre_cnt"]].head()
test[["isrc_country", "isrc_year"]].head()

  isrc_country  isrc_year
0           TW       14.0
1           TW       10.0
2           JP       10.0
3           GB        2.0
4           IT       11.0

In [ ]:
#카테고리 수 확인 (폭발 여부)
for c in train.select_dtypes(include="category").columns:
    print(c, train[c].nunique())

msno 7461
song_id 34114
source_system_tab 9
source_screen_name 19
source_type 12
genre_ids 216
artist_name 6422
name 27566
gender 3
genre_first 97
isrc_country 65

In [ ]:
#카테고리 수 확인 (폭발 여부)
for c in test.select_dtypes(include="category").columns:
    print(c, train[c].nunique())

msno 7461
song_id 34114
source_system_tab 9
source_screen_name 19
source_type 12
genre_ids 216
artist_name 6422
name 27566
gender 3
genre_first 97
isrc_country 65

In [ ]:
## 최종 drop

DROP_COLS = [
    "name",          # 제목 → 정보 대비 비용 큼
    "genre_ids",     # 이미 genre_first, genre_cnt 있음
]
train = train.drop(columns=DROP_COLS)

In [ ]:
## 최종 drop

DROP_COLS = [
    "name",          # 제목 → 정보 대비 비용 큼
    "genre_ids",     # 이미 genre_first, genre_cnt 있음
]
test = test.drop(columns=DROP_COLS)

### Count Encoding 피처 3개 만들기

(1) msno_cnt: 유저가 train에 얼마나 등장했나

(2) song_id_cnt: 노래가 얼마나 등장했나(인기)

(3) artist_cnt: 아티스트가 얼마나 등장했나

In [ ]:
import numpy as np
import pandas as pd

def add_count_features(train, test, cols):
    # train+test를 합쳐서 count를 구하면 "전체 데이터에서의 빈도"가 됨
    all_df = pd.concat([train[cols], test[cols]], axis=0, ignore_index=True)

    for c in cols:
        vc = all_df[c].value_counts(dropna=False)
        train[f"{c}_cnt"] = train[c].map(vc).astype("int32")
        test[f"{c}_cnt"]  = test[c].map(vc).astype("int32")

    return train, test

count_cols = ["msno", "song_id", "artist_name"]
train, test = add_count_features(train, test, count_cols)

추가로 “조금 더 좋은” count 피처 2개 (선택, 추천)

source 조합 빈도(어떤 경로로 많이 듣는지)

source_system_tab, source_screen_name, source_type를 합쳐서 “경로 ID” 만들고 count

In [ ]:
for df in [train, test]:
    df["source_combo"] = (
        df["source_system_tab"].astype(str) + "|" +
        df["source_screen_name"].astype(str) + "|" +
        df["source_type"].astype(str)
    ).astype("category")

train, test = add_count_features(train, test, ["source_combo"])

In [ ]:
train[["msno_cnt", "song_id_cnt", "artist_name_cnt", "source_combo_cnt"]].describe()

            msno_cnt    song_id_cnt  artist_name_cnt  source_combo_cnt
count  129534.000000  129534.000000    129534.000000     129534.000000
mean       54.297073      85.318318      1556.795752      50592.799041
std        54.633329     137.433207      2773.740064      34816.994627
min         1.000000       1.000000         1.000000          1.000000
25%        20.000000       4.000000       106.000000      14930.000000
50%        40.000000      25.000000       480.000000      45242.000000
75%        71.000000     104.000000      1563.000000      88071.000000
max       477.000000     785.000000     12865.000000      88071.000000

In [ ]:
test[["msno_cnt", "song_id_cnt", "artist_name_cnt", "source_combo_cnt"]].describe()

            msno_cnt    song_id_cnt  artist_name_cnt  source_combo_cnt
count  138041.000000  138041.000000    138041.000000     138041.000000
mean       54.951790      68.530321      1604.207562      34406.234380
std        59.078361     122.832972      3143.308118      33967.464112
min         1.000000       1.000000         1.000000          1.000000
25%        19.000000       4.000000        82.000000       4094.000000
50%        38.000000      19.000000       354.000000      31314.000000
75%        70.000000      79.000000      1279.000000      45242.000000
max       477.000000     920.000000     12865.000000      88071.000000

### count encoding 결과 해석

1. **msno_cnt (유저 활동량)**: median(50%) ≈ 78/ max ≈ 666

-> 유저마다 활동량 차이 있음

-> “헤비 유저 vs 라이트 유저” 구분 가능

-> 좋은 피처

2. **song_id_cnt (곡 인기)**: median ≈ 67/max ≈ 2030

->  인기곡 vs 비인기곡 명확

-> 추천 문제에서 가장 강력한 피처 중 하나

3. artist_name_cnt (아티스트 인기): median ≈ 1,388/max ≈ 36,930

-> 인기 아티스트 효과 아주 큼

-> 단, 분포가 심하게 오른쪽 꼬리(long-tail)

4. source_combo_cnt (경로 빈도): median ≈ 126,133/max ≈ 251,222

-> 특정 추천 경로가 엄청 자주 쓰임

-> 이건 행동 맥락 정보라서 굉장히 좋음

-> 다만 스케일이 너무 큼

In [ ]:
# 로그변환

import numpy as np

log_cols = [
    "msno_cnt",
    "song_id_cnt",
    "artist_name_cnt",
    "source_combo_cnt"
]

for c in log_cols:
    train[c + "_log"] = np.log1p(train[c])
    test[c + "_log"]  = np.log1p(test[c])

In [ ]:
train[[c + "_log" for c in log_cols]].describe()

,msno_cnt_log,song_id_cnt_log,artist_name_cnt_log,source_combo_cnt_log
count,129534.000000,129534.000000,129534.000000,129534.000000
mean,3.644751,3.217669,5.910111,10.175598
std,0.883663,1.711551,2.023592,1.617578
min,0.693147,0.693147,0.693147,0.693147
25%,3.044522,1.609438,4.672829,9.611195
50%,3.713572,3.258097,6.175867,10.719803
75%,4.276666,4.653960,7.355002,11.385910
max,6.169611,6.666957,9.462343,11.385910

In [ ]:
test[[c + "_log" for c in log_cols]].describe()

,msno_cnt_log,song_id_cnt_log,artist_name_cnt_log,source_combo_cnt_log
count,138041.000000,138041.000000,138041.000000,138041.000000
mean,3.598649,3.018171,5.730750,9.511857
std,0.960257,1.650417,2.097791,1.763961
min,0.693147,0.693147,0.693147,0.693147
25%,2.995732,1.609438,4.418841,8.317522
50%,3.663562,2.995732,5.872118,10.351852
75%,4.262680,4.382027,7.154615,10.719803
max,6.169611,6.825460,9.462343,11.385910

In [ ]:
train_cols = set(train.drop(columns=["target"]).columns)
test_cols  = set(test.columns)

print("train-only:", train_cols - test_cols)
print("test-only :", test_cols - train_cols)

train-only: set()
test-only : {'id'}

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129534 entries, 0 to 129533
Data columns (total 36 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   msno                    129534 non-null  category
 1   song_id                 129534 non-null  category
 2   source_system_tab       129534 non-null  category
 3   source_screen_name      129534 non-null  category
 4   source_type             129534 non-null  category
 5   target                  129533 non-null  float32
 6   song_length             129534 non-null  float32
 7   artist_name             129534 non-null  category
 8   language                129529 non-null  float32
 9   city                    129533 non-null  float32
 10  age                     129341 non-null  float32
 11  gender                  129534 non-null  category
 12  registered_via          129533 non-null  float32
 13  registration_init_time  129533 non-null  float32
 14  expiration_date         129533 non-null  float32
 15  age_missing             129534 non-null  int8
 16  song_length_missing     129534 non-null  int8
 17  reg_year                129533 non-null  Int16
 18  reg_month               129533 non-null  Int8
 19  exp_year                129533 non-null  Int16
 20  exp_month               129533 non-null  Int8
 21  days_active             129533 non-null  float32
 22  days_active_missing     129534 non-null  int8
 23  genre_first             129534 non-null  category
 24  genre_cnt               129534 non-null  int8
 25  isrc_country            129534 non-null  category
 26  isrc_year               118686 non-null  float32
 27  msno_cnt                129534 non-null  int32
 28  song_id_cnt             129534 non-null  int32
 29  artist_name_cnt         129534 non-null  int32
 30  source_combo            129534 non-null  category
 31  source_combo_cnt        129534 non-null  int32
 32  msno_cnt_log            129534 non-null  float64
 33  song_id_cnt_log         129534 non-null  float64
 34  artist_name_cnt_log     129534 non-null  float64
 35  source_combo_cnt_log    129534 non-null  float64
dtypes: Int16(2), Int8(2), category(10), float32(10), float64(4), int32(4), int8(4)
memory usage: 16.5 MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138041 entries, 0 to 138040
Data columns (total 36 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      138041 non-null  int64
 1   msno                    138041 non-null  category
 2   song_id                 138041 non-null  category
 3   source_system_tab       138041 non-null  category
 4   source_screen_name      138041 non-null  category
 5   source_type             138041 non-null  category
 6   song_length             138041 non-null  float32
 7   artist_name             138041 non-null  category
 8   language                138036 non-null  float32
 9   city                    138040 non-null  float32
 10  age                     137981 non-null  float32
 11  gender                  138041 non-null  category
 12  registered_via          138040 non-null  float32
 13  registration_init_time  138040 non-null  float32
 14  expiration_date         138040 non-null  float32
 15  age_missing             138041 non-null  int8
 16  song_length_missing     138041 non-null  int8
 17  reg_year                138040 non-null  Int16
 18  reg_month               138040 non-null  Int8
 19  exp_year                138040 non-null  Int16
 20  exp_month               138040 non-null  Int8
 21  days_active             138040 non-null  float32
 22  days_active_missing     138041 non-null  int8
 23  genre_first             138041 non-null  category
 24  genre_cnt               138041 non-null  int8
 25  isrc_country            138041 non-null  category
 26  isrc_year               127229 non-null  float32
 27  msno_cnt                138041 non-null  int32
 28  song_id_cnt             138041 non-null  int32
 29  artist_name_cnt         138041 non-null  int32
 30  source_combo            138041 non-null  category
 31  source_combo_cnt        138041 non-null  int32
 32  msno_cnt_log            138041 non-null  float64
 33  song_id_cnt_log         138041 non-null  float64
 34  artist_name_cnt_log     138041 non-null  float64
 35  source_combo_cnt_log    138041 non-null  float64
dtypes: Int16(2), Int8(2), category(10), float32(9), float64(4), int32(4), int64(1), int8(4)
memory usage: 18.0 MB

In [ ]:
# 로그피처가 float 64로 남아있으므로 float32로 다운캐스트

log_cols = ["msno_cnt_log", "song_id_cnt_log", "artist_name_cnt_log", "source_combo_cnt_log"]

for df in [train, test]:
    for c in log_cols:
        df[c] = df[c].astype("float32")

In [ ]:
# 1) 컬럼 정합성 재확인
train_cols = set(train.drop(columns=["target"]).columns)
test_cols  = set(test.columns) - {"id"}
print("feature mismatch:", train_cols.symmetric_difference(test_cols))

# 2) 결측률 상위 확인(전처리 후 남은 결측은 의도된 것만)
print(train.isnull().mean().sort_values(ascending=False).head(10))

# 3) 메모리
def mem_mb(df): return df.memory_usage(deep=True).sum()/1024**2
print("train MB:", round(mem_mb(train),2), "test MB:", round(mem_mb(test),2))

feature mismatch: set()
isrc_year          0.083746
age                0.001490
language           0.000039
target             0.000008
exp_year           0.000008
reg_month          0.000008
exp_month          0.000008
registered_via     0.000008
reg_year           0.000008
expiration_date    0.000008
dtype: float64
train MB: 18.32 test MB: 20.37